antlr4-python3-runtime==4.13.1
contourpy==1.2.1
cycler==0.12.1
dill==0.3.8
fonttools==4.53.1
kiwisolver==1.4.5
matplotlib==3.9.1
mpmath==1.3.0
numpy==2.0.1
openqasm3==0.5.0
packaging==24.1
pbr==6.0.0
pillow==10.4.0
psutil==6.0.0
pylatexenc==2.10
pyparsing==3.1.2
python-dateutil==2.9.0.post0
qiskit==1.1.1
qiskit-aer==0.14.2
qiskit-qasm3-import==0.5.0
rustworkx==0.15.1
scipy==1.14.0
six==1.16.0
stevedore==5.2.0
symengine==0.11.0
sympy==1.13.1
timeout-decorator==0.5.0
typing_extensions==4.12.2
